

<body>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Blog</h1>
    <p class="lead">on products/ tech/ women in tech. </p>
  </div>
</div>


<div class="blog">
  <section class="section">
    <div class="container">
        <% @blogs.each do |blog| %>
            <div class="col-lg-8 col-md-10 mx-auto card">
                <div class="entry card-body">
                    <div class="post-preview">
                        <h2 class="post-title"><%= link_to blog.title, blog%></h2>

                    </div>

                    <h3 class="post-subtitle">
                        <%= blog.content %>
                    </h3>
                    <p class="post-meta">Posted on <%= blog.created_at.strftime("%b %d, %Y") %></p>
                </div>
            </div>
        <% end %>
    </div>
</section>


</div>
<%= will_paginate @blogs %>
</body>