
<body>
<div class="middle-container">
  <p id="notice"><%= notice %></p>

  <h1>Blogs</h1>
  <section class="section">
    <div class="container">
        <% @blogs.each do |blog| %>
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media=-ontent">
                            <p class="title is-4"><%= link_to blog.title, blog%></p>

                        </div>
                    </div>

                    <div class="content">
                        <%= blog.content %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</section>


  

</body>