<body>
<div class="greeting-img">
    <div class="greeting-text">
        <h1>Hi! I'm Anni.</h1>
    </div>
</div>


<div class="middle-container">
    <div class="self-intro">
        <h3>About me</h3>
        <p>I am Anni Chen, a student pursuing Computer Science & Mathematics at Duke. I love solo-traveling, cooking and I am a hardcore spicy food and milk tea lover. 
        For future career direction, I am looking into Software Engineering and Product Management. Here is my <a href = "https://www.linkedin.com/in/anni-chen-02/">LinkedIn profile</a>.</p>
    </div>

    <hr>
    
    <h3>Timelines</h3>
        <div class="row timeline">
            <div class="col-md-1"></div>
            <div class="col-sm-12 col-md-3">
                <img src="https://image.flaticon.com/icons/png/512/1046/1046209.png">
            </div>
            <div class="col-sm-12 col-md-7">
                <h2>2017</h2>
                <p>A gap year. First time get in touch with coding, solo-traveling in Taiwan, Beijing, Nanjing, Tianjin and Hangzhou. Start attending Duke in Sep.</p>
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row timeline reverse">
            <div class="col-md-1"></div>
            <div class="col-sm-12 col-md-7">
                <h2>2014</h2>
                <p>Selected for a full-ride scholarship by Ministry of Education, Singapore to attend Anderson Secondary School and later Raffles Institution.</p>
            </div>
            <div class="col-sm-12 col-md-3">
                <img src="https://image.flaticon.com/icons/svg/1552/1552180.svg">
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row timeline">
            <div class="col-md-1"></div>
            <div class="col-sm-12 col-md-3">
                <img src="https://image.flaticon.com/icons/svg/2459/2459714.svg">
            </div>
            <div class="col-sm-12 col-md-7">
                <h2>1998</h2>
                <p>Born in Chengdu, China--the origin of hot pot. Start my insatiable love for hot pot.</p>
            </div>
            <div class="col-md-1"></div>
        </div>
    
        
        <hr>
    <!-- <h3>Fun facts</h3> -->
    
</div>

</body>
