<body>
    <div class="middle-container hobby">
    <h3>Having fun with Tech</h3>
    <h5> Technical courses that I enjoyed tremendously for self learning:</h5>
    <ul>
        <li>
            <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/">The Complete 2020 Web Development Bootcamp on Udemy</a><br>
            I have always wanted to build my own personal website from scratch. I have taken <a href="https://www.freecodecamp.org/learn/">FreeCodeCamp's 
            course Responsibe Web Design Certification</a> before taking this class. However, FreeCodeCamp is limited in its teaching on responsive part, i.e. how to employ Bootstrap to ease the development. 
            In fact, I have re-coded my website in one day to increase the responsiveness. 
        </li>
        <li>
            <a href="https://www.udemy.com/course/ios-13-app-development-bootcamp/">iOS 13 & Swift 5 - The Complete iOS App Development Bootcamp on Udemy</a><br>
            I have managed to use knowledge learnt in this class when coding Duke Rewards application, such as data persistence, API integration. 
        </li>
        <li>
            <a href="https://www.coursera.org/learn/machine-learning">Machine Learning on Coursera</a><br>
            This is the best ML intro class I have taken. I took Duke's introduction to ML, but I would say Andrew Ng's teaching is clearer and more structured. Learning Matlab is a side benefit of taking this course. 
        </li>
        <li>
            <a href="https://www.udemy.com/course/agile-crash-course/">Machine Learning on Coursera</a><br>
            This is the best ML intro class I have taken. I took Duke's introduction to ML, but I would say Andrew Ng's teaching is clearer and more structured. Learning Matlab is a side benefit of taking this course. 
        </li>


    </ul>

    <h5> Websites that I like:</h5>
    <ul>
        <li>
            Stack Overflow <br>
            Propably the most visited website after Google. 
        </li>
        <li>
            <a href="http://www.woshipm.com/">人人都是产品经理</a> <br>
            A Chinese website providing insights on product management.  
        </li>
    </ul>

    </div>



    
</body>
