// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/




p {
  line-height: 1.5;
  margin: 30px 0;
}




.blog a {
  color: #212529;
  transition: all 0.2s;
}

.blog a:focus, a:hover {
  color: #d8c3a5;
  text-decoration: none;
}
#blog-title {
  text-align: center;
}
.jumbotron {
  background-image: image-url("IMG_6423.JPG");
  background-size: cover;
  color: white;
}
.display-4 {
  padding-top: 50px;
}



.post-preview > .entry > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.post-subtitle {
  font-size: 200;
  font-weight: 300;
  margin: 0 0 10px;
}

.post-meta {
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
  color: #868e96;
}


.blog-show {
  padding: 80px 5% 20px 5%;
}

.blog-show h5 {
  font-family: Lora,'Times New Roman',serif;
  font-size: 20px;
  line-height: 1.5;
}

.blog-show strong {
  font-size: 40px;
  font-weight:200;
  color: #9a8260;
}

.trix-content {
  overflow-wrap: break-word;
}
// pagination
.pagination {
  line-height: 1;
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; 
}
.pagination a, .pagination span {
  padding: 0.2em 0.3em; 
}
  
.pagination .disabled {
  color: #aaaaaa; 
}
.pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #d8c3a5;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}
.pagination a {
  text-decoration: none;
  color: black; 
}
.pagination a:hover, .pagination a:focus {
    text-decoration: underline; 
}

.btn {
  background-color: #d8c3a5;
  border: 4px solid white;
  border-radius: 0.6rem;
  width: 150px;
}


@media screen and (max-device-width: 736px) {
  .entry h2 {
      font-size: 150%;
  }
  .entry h3 {
    font-size: 100%;
  }
  .entry p {
    font-size: 12px;
  }
  .card-body {
    padding: 0.75rem;
  }
  #blog-title {
    font-size: 150%;
  }
  .blog-show strong {
    font-size: 30px;
  }
}
